/*Cargador*/
#contenedorcargando{
	position:fixed;
	top:0px;
	left:45%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:2px;
	margin:0px;
	background-color:#FFF;
	/*box-shadow:#CCC    0px 0px 2px inset;*/
	display:none;
	z-index:9999;
}
.der{
	text-align:right;	
}
.centrar{
	text-align:center;	
}
tr.centrar td,tr.centrar th{
	text-align:center;	
}
.resaltar,.r{
	font-weight:bold;	
}
/*Fin de Cargador*/
table.borderless, .borderless tbody tr td, .borderless thead tr th {
    border: none !important;
}
footer{
	display:block;
	position:absolute !important;
	height:70px;


	bottom:2px;
	
}
.sb{
	margin:0px;
}
.rojo{
	color:#d9534f;	
}
.verde{
	color:#5cb85c;	
}
.azul{
	color:#337ab7;	
}
.negro{
	color:#000000;	
}
.bnegro{
	border:1px solid #424242 !important;	
}
.page-content{
	/*background:url(../imagenes/sistema/superior.jpg);
	background-repeat:no-repeat;
	background-position:top left;	*/
}
.fceleste{
	background-color:#C8E1FF;	
}
.tf1{
    font-size:1.1em;     
}